<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alive</key>
	<array>
		<dict>
			<key>Height</key>
			<real>0.2</real>
			<key>Width</key>
			<real>0.333</real>
			<key>X</key>
			<real>0</real>
			<key>Y</key>
			<real>0.8</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.2</real>
			<key>Width</key>
			<real>0.333</real>
			<key>X</key>
			<real>0.333</real>
			<key>Y</key>
			<real>0.8</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.2</real>
			<key>Width</key>
			<real>0.333</real>
			<key>X</key>
			<real>0.666</real>
			<key>Y</key>
			<real>0.8</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.2</real>
			<key>Width</key>
			<real>0.333</real>
			<key>X</key>
			<integer>0</integer>
			<key>Y</key>
			<real>0.6</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.2</real>
			<key>Width</key>
			<real>0.333</real>
			<key>X</key>
			<real>0.333</real>
			<key>Y</key>
			<real>0.6</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.2</real>
			<key>Width</key>
			<real>0.333</real>
			<key>X</key>
			<real>0.666</real>
			<key>Y</key>
			<real>0.6</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.2</real>
			<key>Width</key>
			<real>0.333</real>
			<key>X</key>
			<integer>0</integer>
			<key>Y</key>
			<real>0.4</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.2</real>
			<key>Width</key>
			<real>0.333</real>
			<key>X</key>
			<real>0.333</real>
			<key>Y</key>
			<real>0.4</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.2</real>
			<key>Width</key>
			<real>0.333</real>
			<key>X</key>
			<real>0.666</real>
			<key>Y</key>
			<real>0.4</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.2</real>
			<key>Width</key>
			<real>0.333</real>
			<key>X</key>
			<integer>0</integer>
			<key>Y</key>
			<real>0.2</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.2</real>
			<key>Width</key>
			<real>0.333</real>
			<key>X</key>
			<real>0.333</real>
			<key>Y</key>
			<real>0.2</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.2</real>
			<key>Width</key>
			<real>0.333</real>
			<key>X</key>
			<real>0.666</real>
			<key>Y</key>
			<real>0.2</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.2</real>
			<key>Width</key>
			<real>0.333</real>
			<key>X</key>
			<integer>0</integer>
			<key>Y</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>rest</key>
	<array>
		<dict>
			<key>Height</key>
			<real>0.2</real>
			<key>Width</key>
			<real>0.333</real>
			<key>X</key>
			<real>0</real>
			<key>Y</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>dead</key>
	<array>
		<dict>
			<key>Height</key>
			<real>0.2</real>
			<key>Width</key>
			<real>0.333</real>
			<key>X</key>
			<real>0.333</real>
			<key>Y</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
